<!-- 修改用户信息页面 -->

<%-include('../layouts/header.ejs')%> <%-include('../layouts/nav.ejs')%>
<div class="container my-5">
  <div class="row">
    <div class="col-md-3">
      <nav class="nav nav-pills nav-justified mb-5 flex-md-column">
        <a href="/settings/profile" class="nav-item nav-link text-md-right">
          Profile
        </a>
        <a
          href="/settings/password"
          class="nav-item nav-link text-md-right active"
        >
          Security
        </a>
      </nav>
    </div>
    <div class="col-md-9">
      <form action="/settings/uppwd" method="POST">
        <h3 class="mb-4">Password</h3>
        <div class="form-group">
          <label for="old_password">Current password</label>
          <input type="password" class="form-control" name="old_password" />
        </div>

        <div class="form-group">
          <label for="new_password">New password</label>
          <input type="password" class="form-control" name="new_password" />
        </div>

        <div class="form-group">
          <label for="new_password_confirmation">Confirm new password</label>
          <input
            type="password"
            class="form-control"
            name="new_password_confirmation"
          />
        </div>

        <button class="btn btn-primary btn-block my-4" type="submit">
          Update password
        </button>
      </form>
    </div>
  </div>
</div>

<%-include('../layouts/footer.ejs')%>
